@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.bg-black {
  background: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-none {
  display: none;
}

.main {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  max-width: 768px;
  padding: 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 576px) {
  .main {
    padding: 20px;
  }
}

.main img {
  height: 117px;
  margin: 8px;
}

@media (max-width: 576px) {
  .main img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.inputs {
  color: #FFD366;
  font-size: 18px;
  padding: 8px;
}

@media (max-width: 576px) {
  .inputs {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.inputs p {
  margin-bottom: 2px;
}

.inputs span {
  font-size: 12px;
  float: right;
}

.inputs input {
  border-radius: 10px;
  outline-style: none;
  border: 2px solid #FFD366;
  height: 40px;
  width: 250px;
  background: #FFFFFF18;
  color: #ffffff;
  font-size: 24px;
  padding: 8px 16px;
  margin-bottom: 8px;
}

.inputs .heightCheck, .inputs .weightCheck {
  color: #ffffff;
  text-align: right;
  font-size: 16px;
  height: 16px;
}

.run {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #FFD366;
  text-align: center;
  line-height: 120px;
  font-size: 24px;
  margin: 8px;
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
}

.run::before {
  content: "看結果";
}

.run:hover {
  -webkit-box-shadow: 0 1px 6px 3px #FFD366;
          box-shadow: 0 1px 6px 3px #FFD366;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  cursor: pointer;
}

.run:active {
  background: #DEA921;
  -webkit-transition-duration: 0ms;
          transition-duration: 0ms;
}

.result {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #424242;
  text-align: center;
  font-size: 24px;
  position: relative;
  margin: 8px;
}

.result::before {
  width: 100%;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 125%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.result .BMI {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.result .bmi-text {
  position: absolute;
  top: 68%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.result .reset-btn {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: 3px solid #424242;
  position: absolute;
  right: 0%;
  bottom: 0%;
}

.result .reset-btn:hover {
  cursor: pointer;
}

.result .reset-btn:hover i {
  -webkit-transform: rotate(180deg) scale(0.5);
          transform: rotate(180deg) scale(0.5);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.result .reset-btn i {
  color: #424242;
  -webkit-transform: rotate(-180deg) scale(0.5);
          transform: rotate(-180deg) scale(0.5);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.underweight {
  border: 6px solid #31BAF9;
  color: #31BAF9;
}

.underweight::before {
  content: "過輕";
}

.underweight .reset-btn {
  background: #31BAF9;
}

.normal {
  border: 6px solid #86D73E;
  color: #86D73E;
}

.normal::before {
  content: "理想";
}

.normal .reset-btn {
  background: #86D73E;
}

.overweight {
  border: 6px solid #FF982D;
  color: #FF982D;
}

.overweight::before {
  content: "過重";
}

.overweight .reset-btn {
  background: #FF982D;
}

.obeseI {
  border: 6px solid #FF6C02;
  color: #FF6C02;
}

.obeseI::before {
  content: "輕度肥胖";
}

.obeseI .reset-btn {
  background: #FF6C02;
}

.obeseII {
  border: 6px solid #FF6C02;
  color: #FF6C02;
}

.obeseII::before {
  content: "中度肥胖";
}

.obeseII .reset-btn {
  background: #FF6C02;
}

.obeseIII {
  border: 6px solid #FF1200;
  color: #FF1200;
}

.obeseIII::before {
  content: "重度肥胖";
}

.obeseIII .reset-btn {
  background: #FF1200;
}

.history {
  background: #f1f1f1;
  padding-top: 48px;
  padding-bottom: 48px;
}

.history h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 36px;
  font-weight: bold;
}

.history h2 {
  text-align: center;
  font-size: 20px;
}

.list {
  width: 70%;
  max-width: 768px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .list {
    width: 85%;
  }
}

.card {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.25rem;
  background: #ffffff;
  margin-bottom: 16px;
}

.card div {
  width: 18%;
  display: inline-block;
  margin: 4px;
  font-weight: bold;
}

.card span {
  font-weight: normal;
  font-size: 16px;
  margin-right: 8px;
}

.card .statu {
  width: 18%;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.card .cardFoot {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: right;
}

.card .delete {
  color: #929292;
}

.card .delete:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: black;
  cursor: pointer;
}

@media (max-width: 992px) {
  .card .statu {
    width: 40%;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .card .div-b {
    width: 20%;
  }
  .card .div-w {
    text-align: center;
    width: 30%;
  }
  .card .div-h {
    text-align: right;
    width: 30%;
  }
  .card .cardFoot {
    width: 45%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    text-align: right;
  }
}

@media (max-width: 576px) {
  .card .div-b {
    width: 51%;
  }
  .card .div-w {
    text-align: left;
    width: 51%;
  }
  .card .div-h {
    text-align: left;
    width: 51%;
  }
}

.underweightCard {
  border-left: 7px solid #31BAF9;
}

.normalCard {
  border-left: 7px solid #86D73E;
}

.overweightCard {
  border-left: 7px solid #FF982D;
}

.obeseICard {
  border-left: 7px solid #FF6C02;
}

.obeseIICard {
  border-left: 7px solid #FF6C02;
}

.obeseIIICard {
  border-left: 7px solid #FF1200;
}

.deleteAll {
  color: black;
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 190px;
  text-align: center;
  border-radius: 20px;
}

.deleteAll:hover {
  background: gray;
}

.footer {
  background: #FFD366;
  padding: 15px;
}

.footer img {
  margin: 0 auto;
  width: 55px;
  height: auto;
}
/*# sourceMappingURL=all.css.map */